<div class="browser-support-titel">
  <h1>BROWSER NIET ONDERSTEUND</h1>
  <content>Deze Browser (versie) wordt niet ondersteund door het Ma-Inleversysteem.</content>
</div>

<div class="browser-support-content">
  <h2>ONDERSTEUNDE BROWSERS</h2>
  Het wordt aangeraden, om gebruik te maken van de onderstaande browsers.
  <content>
    <p><a href="https://www.google.com/chrome/" target="_blank" class="browser-link">
      <span class="browser-logo"><i class="fa fa-chrome"></i></span>
      <span class="browser-naam">
        <span class="browser-titel">Google Chrome</span><br>
        <span class="browser-beschrijving">Meest recente versie wordt aangeraden.</span>
      </span>
    </a></p>
    <p><a href="https://www.mozilla.org/nl/firefox/new/" target="_blank" class="browser-link">
      <span class="browser-logo"><i class="fa fa-firefox"></i></span>
      <span class="browser-naam">
        <span class="browser-titel">Mozilla Firefox</span><br>
        <span class="browser-beschrijving">Meest recente versie wordt aangeraden.</span>
      </span>
    </a></p>
    <p><a href="https://www.opera.com/nl" target="_blank" class="browser-link">
      <span class="browser-logo"><i class="fa fa-opera"></i></span>
      <span class="browser-naam">
        <span class="browser-titel">Opera browser</span><br>
        <span class="browser-beschrijving">Meest recente versie wordt aangeraden.</span>
      </span>
    </a></p>
    <p><a href="https://support.apple.com/nl-nl/HT204416" target="_blank" class="browser-link">
      <span class="browser-logo"><i class="fa fa-safari"></i></span>
      <span class="browser-naam">
        <span class="browser-titel">Safari browser</span><br>
        <span class="browser-beschrijving">Alleen voor Apple apparaten.</span>
      </span>
    </a></p>
  </content>

  <content>
    <h2>WAAROM NIET ONDERSTEUND</h2>
    We hebben ervoor gekozen om browsers als Microsoft Edge en Internet Explorer niet te ondersteunen, om zo de best mogelijke ervaring te kunnen geven aan de gebruikers.
    <p>Deze browsers hielden de mogelijkheden (functioneel/ visueel) tegen, om het maximale uit deze site te halen.</p>
    <p>Excuses voor het ongemak.</p>

  </content>







</div>

<style>
  body {overflow-y: auto;}
  footer {background-color: black; padding: 20px 0; bottom: 0; position: relative;}
</style>
