<div class="over-ons-titel">
  <style>body{overflow-y: auto;}</style>
  <h1>OVER DEZE SITE</h1>
  <content>Deze inleversite is oorspronkelijk bedacht om als student zijn/ haar SLB-opdrachten digitaal in te kunnen leveren, hierdoor is het voor zowel student als leraar makkelijker.</content>
  <p><a href="javascript:javascript:history.go(-1)" class="left">Vorige pagina</a>
  <a href="https://ma-web.nl" target="_blank" class="right">Mediacollege Amsterdam</a></p>
</div>

<div class="over-ons-content">
  <h2>DEVELOPMENT</h2>
  Deze site is opgezet door 3 studenten van RBR Development.
  <content>
    <p>Rowin Schmidt <a href="http://rowin.pe.hu/" target="_blank" class="portfolio">Portfolio bekijken</a></p>
    <p>Bart de Jong <a href="http://22683.hosts.ma-cloud.nl/portfolio/" target="_blank" class="portfolio">Portfolio bekijken</a></p>
    <p>Reinier van der Velden <a href="http://22810.hosts.ma-cloud.nl/" target="_blank" class="portfolio">Portfolio bekijken</a></p>
  </content>
  <h2>KLEURGEBRUIK</h2>
  Deze site maakt gebruik van de kleuren van Mediacollege Amsterdam, ook zijn er meerdere accentkleuren.
  <div class="over-ons-kleuren-wrap">
    <div class="over-ons-kleuren" id="over-ons-kleuren-pink">Roze<br>#e62686</div>
    <div class="over-ons-kleuren" id="over-ons-kleuren-white">Wit<br>#fff</div>

    <div class="over-ons-kleuren" id="over-ons-kleuren-black">Zwart<br>#000</div>
    <div class="over-ons-kleuren" id="over-ons-kleuren-lighter-black">Donkergrijs<br>#383838</div>
    <div class="over-ons-kleuren" id="over-ons-kleuren-darkgray">Grijs<br>#757575</div>
    <div class="over-ons-kleuren" id="over-ons-kleuren-gray">lichtgrijs<br>#E6E6E6</div>
  </div>






</div>

<style>footer {background-color: black; padding: 20px 0; bottom: 0; position: relative;}</style>
