@import url('https://fonts.googleapis.com/css?family=Maven+Pro');

/*VARIABELES*/
$standard-font: sans-serif;
$custom-font: 'Maven Pro', sans-serif;
$color-pink: #e62686;
$color-pink-hover: #c4237c;
$color-white: #fff;
$color-gray: #E6E6E6;
$color-darkgray: #757575;
$color-lighter-black: #383838;
$color-black: #000;

@mixin transition($duration) {
  -webkit-transition: $duration;
  -moz-transition: $duration;
  -ms-transition: $duration;
  -o-transition: $duration;
  transition: $duration;
}


/*DESKTOP/ LAPTOP VERSIE*/

body {
  margin: 0 auto;
  padding: 0;
  font-family: $custom-font;
  font-size: 23px;
  color: #fff;
  opacity: 0;
  @include transition(opacity 1s ease-in);
}
body.load {opacity: 1;}
body.load .error_background_skew {transition-delay: 1s; left: -200px;}
.background-image {
  background-image: url("../assets/images/school-blur.jpg");
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
  width: 100%;
  height: 110vh;
  position: fixed;
  overflow: hidden;
}
.error_background_skew {
  left: -1500px;
  width: 1100px;
  height: 100vh;
  margin: 0;
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
  background-color:rgba(230,38,134,0.2);
  overflow: hidden;
  position: relative;
  transition-delay: 1s;
  @include transition(.3s);
}
.error_background_skew_content {
  position: absolute;
  padding-top: 200px;
  padding-left: 225px;
  -webkit-transform: skew(20deg);
  -moz-transform: skew(20deg);
  -o-transform: skew(20deg);
}
.error_background_skew_content img {
  width: 225px;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
}
.error_background_skew_content h1 {
  display: inline-block;
  border-top: 8px solid $color-white;
  padding: 0;
  margin: 20px 0 0 0;
  font-size: 60px;
  letter-spacing: 2px;
}
.error_background_skew_content h1 span {
  border-top: 8px solid $color-pink;
  color: $color-pink;
}
.error_background_skew_content a {
  display: inline-block;
  padding: 15px 35px;
  border-radius: 3px;
  background-color: $color-pink;
  color: $color-white;
  text-decoration: none;
  font-size: 20px;
  @include transition(0.3s);
}
.error_background_skew_content a:hover {background-color: $color-pink-hover;}


/*TEXT SELECTION COLOR*/
::selection {background: $color-pink; color: white;}
::-moz-selection {background: $color-pink; color: white;}
